

<form method="post">
    <label for="trigger_word">Enter trigger word: </label>
    <input type="hidden" name="trigger_type" value="emergency">
    <input type="text" name="trigger_word" value="">
    <input type="submit" value="OK">
</form>

<h3>Current triggers for emergency</h3>

{% for trigger in triggers.emergency %}
  <form method="post">
    Trigger word: {{ trigger.word }} </br>
    </br>
    <input type="hidden" name="trigger_id" value={{trigger.id}}>
    <input type="hidden" name="trigger_type" value="emergency">
    <input type="submit" value="Delete">
  </form>
{% endfor %}

<form method="post">
    <label for="trigger_word">Enter trigger word: </label>
    <input type="hidden" name="trigger_type" value="social">
    <input type="text" name="trigger_word" value="">
    <input type="submit" value="OK">
</form>

<h3>Current triggers for emergency</h3>

{% for trigger in triggers.social %}
  <form method="post">
    Trigger word: {{ trigger.word }} </br>
    </br>
    <input type="hidden" name="trigger_id" value={{trigger.id}}>
    <input type="hidden" name="trigger_type" value="social">
    <input type="submit" value="Delete">
  </form>
{% endfor %}
