<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <script type="text/javascript" src="{% static 'webapp/js/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'webapp/css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'webapp/css/index-style.css' %}">
  <title>Index</title>
</head>
<body class="front_bg">

	<div class="shield_img">
      <img src="img/shield" style="height:45px;width:auto">
    </div>

    <div class="logo">
      <h4>EQUERRY</h4>
  	</div>

  	<div class="slogan">
      <h4>Safety is a walk away.</h4>
  	</div>

  	<div class="name">
      <h4>To begin, tell us your name.</h4>
  	</div>

  	<div class="name_box">
      <h4>First last</h4>
  	</div>

  	<button id="start_button">Example Button</button>


</body>
</html>