<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <script type="text/javascript" src="{% static 'webapp/js/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'webapp/css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'webapp/css/index-style.css' %}">
  <title>Index</title>
</head>
<body class="front_bg">

	<div class="shield">
    <img id="shield_img", src="../static/webapp/imgs/shield.svg">
  </div>

  <div class="logo">
    EQUERRY
	</div>

	<div class="slogan">
    Safety is a walk away.
	</div>

	<div class="name">
    To begin, tell us your name.
	</div>

  <form method="post" id="name_form">
  	<div class="name_box">
      <input name="user_name" type="text" placeholder="First last"></input>
  	</div>

  	<div class="container">
      <!-- <button type="submit" class="start_button"><a href="onboard">Let's do this</a></button> -->
      <!-- <a href="onboard" class="start_button" onclick="document.getElementById('name_form').submit();)">submit</a> -->


      <!-- <a href="/onboard"><input type="submit" id="start_button" name="button" value="let's do this"></a> -->
  		<input type="submit" id="start_button">Let's do this</input>
  	</div>
  </form>

</body>
</html>
