<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <script type="text/javascript" src="{% static 'webapp/js/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'webapp/css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'webapp/css/landing-style.css' %}">
  <title>Equerry</title>
</head>
<body class="front_bg">

  <div class="logo">
    EQUERRY
    </div>

    <div class="slogan">
    Safety is a walk away.
    </div>

    <div class="shield">
      <img id="shield_img", src="../static/webapp/imgs/shield-check.svg">
    </div>

    <div class="active-text">
      <p>Your Equerry is Active.</p>
    </div>

    <div class="button-container">
        <button id="start_button" onclick="location.href='maps/';">Neighborhood</button>
        <button id="start_button2" onclick="location.href='my_info';">My Info</button>
        <button id="start_button2">Voice Triggers</button>
        <button id="start_button2" onclick="location.href='contacts';">Emergency Contacts</button>
    </div>

</body>
</html>