<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <script type="text/javascript" src="{% static 'webapp/js/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'webapp/css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'webapp/css/onboard2-style.css' %}">
  <title>Welcome</title>
</head>
<body class="front_bg">
    
    <div class="top-bar">
        <div class="top-bar-text">
            <a href="onboard">Back</a>
        </div>
        <div class="top-bar-text">
            <a href="onboard3">Next</a>
        </div>
    </div>


    <div class="main-section">
        <h1 class="heading">Customize your voice triggers.</h1>
        <h2 class="sub-heading">Emergency</h2>
        <div class="indented">
          <p class="desc subtitle">Equerry will alert the police with your info and location when trigerred with these phrases.</p>
          <div class="form-group">
              <label>Phrase</label>
              <input type="text" placeholder="Is that a gun?"></input>
          </div>
        </div>
        <p class="add-another">Add another phrase</p>

        <p class="space"></p>

        <h2 class="sub-heading">Abort Social Situation</h2>
        <div class="indented">
          <p class="desc subtitle">Equerry will call you when triggered with these phrases, giving you an excuse to leave any awkward situation.</p>
          <div class="form-group">
              <label>Phrase</label>
              <input type="text" placeholder="Sorry, I have a boyfriend"></input>
          </div>
        </div>
        <p class="add-another">Add another phrase</p>

    </div>

</body>
</html>