<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <script type="text/javascript" src="{% static 'webapp/js/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'webapp/css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'webapp/css/onboard-style.css' %}">
  <title>Welcome</title>
</head>
<body class="front_bg">

    <div class="top-bar">
        <div class="top-bar-text">
            <a href="">Back</a>
        </div>
        <div class="top-bar-text">
            <a href="">Next</a>
        </div>
    </div>


    <div class="main-section">
        <h1 class="heading">Tell us a little bit about yourself.</h1>

        <p class="desc subtitle">This information will be provided to the authorities in emergencies.</p>

        <div id="height-form">
          <div class="form-group">
              <label>Gender</label>
              <form>
                <select class="minimal" name="Gender" placeholder="&nbsp">
                  <option></option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </form>
          </div>
        </div>

        <div id="height-form">
            <div class="form-group">
              <label>Height</label>
              <form>
                <input type="number" placeholder="Feet">
              </form>
            </div>

            <div class="form-group">
              <label>&nbsp</label>
              <form>
                <input type="number" placeholder="Inches">
              </form>
            </div>
        </div>

        <div id="height-form">
          <div class="form-group">
              <label>Hair Color</label>
              <form>
                <input type="text" placeholder="">
              </form>
          </div>
        </div

        <div id="height-form">
          <div class="form-group">
              <label>Ethnicity</label>
              <form>
                <input type="text" placeholder="">
              </form>
          </div>
        </div>


    </div>

</body>
</html>
