<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'webapp/css/onboard-style.css' %}">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 88.5%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div class="top-bar">
        <div class="top-bar-text">
            <a href='../landing'>Back</a>
        </div>
    </div>
    <div id="map"></div>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow;
      var currPos = {
        'lat' : 40.4434596,
        'lng' : -79.9420548
      }
      

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 14
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (currPos) {
          infoWindow.setPosition(currPos);
          infoWindow.setContent('Your Location');
          infoWindow.open(map);
          map.setCenter(currPos);

          // navigator.geolocation.getCurrentPosition(function(position) {
          //   var pos = {
          //     lat: position.coords.latitude,
          //     lng: position.coords.longitude
          //   };

          //   infoWindow.setPosition(pos);
          //   infoWindow.setContent('Location found.');
          //   infoWindow.open(map);
          //   map.setCenter(pos);
          // }, function() {
          //   handleLocationError(true, infoWindow, map.getCenter());
          // });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }

        var features = [
        {
          position: new google.maps.LatLng(40.44144596, -79.9420548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4444607, -79.944548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4474607, -79.946548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4484607, -79.941548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4484607, -79.942548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4494607, -79.940548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4434596, -79.944548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4464596, -79.946548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4534596, -79.941548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4414596, -79.948548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4439596, -79.949548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4454596, -79.944548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4478596, -79.949948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4578596, -79.959948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4568596, -79.956948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4518596, -79.951948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4548596, -79.952948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.467596, -79.929948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4768596, -79.916948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4218596, -79.921948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4348596, -79.932948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4558596, -79.939948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4468596, -79.946948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4818596, -79.951948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4648596, -79.962948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.461596, -79.921948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4728596, -79.912948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4238596, -79.923948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4348596, -79.934948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4558596, -79.935948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4478596, -79.947948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4888596, -79.958948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4698596, -79.969948),
          type: 'warning'
        },        



        {
          position: new google.maps.LatLng(40.45144596, -79.9420548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4544607, -79.944548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4574607, -79.946548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4584607, -79.941548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4584607, -79.942548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4594607, -79.940548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4534596, -79.944548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4564596, -79.946548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4534596, -79.941548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4514596, -79.948548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4539596, -79.949548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4554596, -79.944548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4578596, -79.949948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4678596, -79.959948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4668596, -79.956948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4618596, -79.951948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4648596, -79.952948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.457596, -79.929948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4668596, -79.916948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4518596, -79.921948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4548596, -79.932948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4658596, -79.939948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4568596, -79.946948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4518596, -79.951948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4548596, -79.962948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4651596, -79.921948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4758596, -79.912948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4258596, -79.923948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4358596, -79.934948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4568596, -79.935948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4458596, -79.947948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4858596, -79.958948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4658596, -79.969948),
          type: 'warning'
        },        





        {
          position: new google.maps.LatLng(40.44144596, -79.9420548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4444607, -79.944548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4474607, -79.946548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4484607, -79.941548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4484607, -79.942548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4494607, -79.940548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4434596, -79.944548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4464596, -79.946548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4534596, -79.941548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4414596, -79.948548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4439596, -79.949548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4454596, -79.944548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4478596, -79.949948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4578596, -79.959948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4568596, -79.956948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4518596, -79.951948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4548596, -79.952948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.467596, -79.929948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4768596, -79.916948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4218596, -79.921948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4348596, -79.932948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4558596, -79.939948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4468596, -79.946948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4818596, -79.951948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4648596, -79.962948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.461596, -79.921948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4728596, -79.912948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4238596, -79.923948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4348596, -79.934948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4558596, -79.935948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4478596, -79.947948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4888596, -79.958948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4698596, -79.969948),
          type: 'warning'
        },        



        {
          position: new google.maps.LatLng(40.45144596, -79.9520548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4544607, -79.954548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4574607, -79.956548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4584607, -79.951548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4584607, -79.952548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4594607, -79.950548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4534596, -79.954548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4564596, -79.956548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4534596, -79.951548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4514596, -79.958548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4539596, -79.959548),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4554596, -79.954548),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4578596, -79.959948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4678596, -79.959948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4668596, -79.956948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4618596, -79.951948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4648596, -79.952948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.457596, -79.925948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4668596, -79.956948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4518596, -79.951948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4548596, -79.952948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4658596, -79.9559948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4568596, -79.945948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4518596, -79.955948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4548596, -79.965948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4651596, -79.925948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4758596, -79.915948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4258596, -79.925948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4358596, -79.935948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4568596, -79.935948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4458596, -79.945948),
          type: 'avoid'
        },

        {
          position: new google.maps.LatLng(40.4858596, -79.955948),
          type: 'warning'
        },

        {
          position: new google.maps.LatLng(40.4658596, -79.965948),
          type: 'warning'
        },  

        ]
        function getCircle(type) {
          circle = {
            path: google.maps.SymbolPath.CIRCLE,
            fillColor: 'red', // avoid type
            fillOpacity: .6,
            scale: 9,
            strokeColor: 'white',
            strokeWeight: .5
          };
          if (type == 'warning') {
            circle['fillColor'] = 'orange'
          }
          return circle;
        }

        features.forEach(function(feature) {
            var marker = new google.maps.Marker({
              position: feature.position,
              icon: getCircle(feature.type),
              map: map
            });
          });
          
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
          infoWindow.setPosition(pos);
          infoWindow.setContent(browserHasGeolocation ?
                                'Error: The Geolocation service failed.' :
                                'Error: Your browser doesn\'t support geolocation.');
          infoWindow.open(map);
        }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARdTFAvZAECfut41oJ7tlfnU5dIvRrzp4&callback=initMap">
    </script>
  </body>
</html>